
table {
    border-collapse: collapse; 
    width: 100%;
  
}
#table1{
    width: 50%; 
}
td{
    padding-left:30px;
}
th{
background-color:yellow;
}
input[type=button]{
    background-color: #45a049;
    color: white;
    padding: 12px 20px; 
    border-radius: 4px; 
}
input[type=text],input[type=number], select, textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px; 
    margin-bottom: 16px;
}

 